/* Shared style starts */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "lato", sans-serif;
}

.text_primary {
  color: rgb(253, 110, 10);
}

.btn_primary {
  border-radius: 5px;
  border: 0;
  background: rgb(253, 110, 10);
  color: white;
  font-size: 20px;
  padding: 16px 35px;
  font-weight: 700;
}

.section_title {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.section_description {
  color: rgb(117, 117, 117);

  font-size: 18px;
  font-weight: 400;

  text-align: center;
}

/* Shared style finishes */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav_title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: rgb(253, 110, 10);
}

/* Header part starts here */
.header {
  background-color: rgb(255, 248, 243);
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_contents {
  max-width: 500px;
}

.banner_greeting {
  font-size: 45px;
  color: rgb(71, 71, 71);
  margin-bottom: 0px;
}

.banner_title {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner .profile_pic {
  width: 560px;
  height: 640px;
}

.banner_description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
}

/* About section starts here */
main section {
  margin-top: 130px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

.about {
  padding: 130px 150px;
  background-color: #fff8f3;
  border-radius: 10px;
  margin: 130px 0px;
}

.about_info_container {
  display: flex;
  justify-content: space-around;
}

.about_info {
  text-align: center;
}

.info_title {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.info_description {
  font-weight: bold;
  font-family: Open Sans;
}

#what_i_do_description {
  padding: 30px 150px;
}

/* Skills */
.skills_container {
  display: flex;
  gap: 24px;
}

.skills {
  padding: 30px;
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.skill_description {
  color: rgb(117, 117, 117);
}

/* resume section styles */
.resume_container {
  display: flex;
  gap: 70px;
}

.resume_container hr {
  margin: 30px 0;
}

.resume_column_title {
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-weight: 700;
}

.resume_item_title {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume_item_description {
  margin-top: 0px;
  margin-bottom: 20px;
}

.resume_item_description,
.resume_item_institute {
  color: rgb(117, 117, 117);
}

.download_cv {
  margin-top: 50px;
  text-align: center;
}

/* Footer stytles  */

footer {
  display: flex;
  padding: 130px 200px;
  margin-top: 100px;
  gap: 100px;
  background: #FFF8F3;
}

.footer_column {
  width: 50%;
}

.social_links a {
  margin-right: 25px;

}

.footer_column .section_description {
  text-align: left;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  background: #FFFFFF;
  border: 0;
  border-radius: 5px;
  width: 100%;
}